.form-mainDiv-stack{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 1em 0em;
    padding: 0;
}
.form-el-div-stack{
    display: flex;
    flex-direction: column;
    width: 10em;
    margin: 1em 0em;
}
.form-el-div-row{
    display: flex;
    flex-direction: row;
    width: 10em;
    margin: 1em 0em;
}
.form-button-div, .form-select-div{
    display: flex;
    margin: 1em 0em;
}
.textAreaSpec{
    min-width: 10em;
    min-height: 10em;
    max-height: 20em;
    max-width: 20em;
}
.formLabel{
    margin: 0;
}